node_modules/
android/build/
android/.cxx/
android/.gradle/
tests/build/
lib/
cpp/signal_ffi.h
cpp/signal_ffi_cpp.h
android/jniLibs/

# iOS build artifacts
ios/libsignal_ffi.a
ios/libsignal_ffi.xcframework/
ios/.sim_staging/
ios/.headers_device/
ios/.headers_sim/

example/node_modules/
example/android/build/
example/android/.gradle/
example/android/app/build/
example/android/.cxx/
example/android/app/src/main/assets/index.android.bundle
